/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');

/* CSS Reset (basic) */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* REM reset to 10px */
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background-color: #21D4FD;
  background-image: linear-gradient(60deg, #21D4FD 0%, #B721FF 50%, #ff8b8b 100%);
  background-attachment: fixed;
}

small a:link,
small a:visited {
  color: #000;
}

small a:hover,
small a:active {
  color: #fff;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  padding: 2rem;
}

footer small {
  text-align: center;
  display: block;
}