/* Containers */
.wrapper {
  padding: 2rem;
  min-height: 100%;

}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 0.5rem;
}

/* Images */
.logo {
  width: 25rem;
  padding: 4rem 0;
}

/* Buttons */
.btn {
  display: block;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
}

.btn:hover,
.btn:active {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 0 1px #000;
}

/* Not Logged in */
.login_form {
  width: 25rem;
}

.login_form input {
  margin-bottom: 2rem;
  width: 100%;
  background: none;
  border: none;
  padding-bottom: 1rem;
  border-bottom: solid 1px #000;
}

.login_form button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
}

.login_form small {
  display: block;
  text-align: center;
}

.about {
  padding: 2rem;
}

.about p {
  margin: 2rem 0;
}

.about_img_1,
.about_img_2 {
  width: 100%;
}


/* Logged In */
.user_welcome {
  text-align: center;
}

.job_cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.job_card {
  margin: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  width: 30rem;
}

.job_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.75);
}

.job_header {
  background-color: #21D4FD;
  background-image: linear-gradient(60deg, #21D4FD 0%, #B721FF 50%, #ff8b8b 100%);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .1),
    1px 1px 1px rgba(0, 0, 0, .5);
  text-transform: uppercase;
}

h2.job_header {
  margin: 0;
}

.job_content {
  padding: 2rem;
}

.edit {
  width: 12rem;
  background-color: #c54efc;
}

.delete {
  width: 12rem;
  background-color: #f73939;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}