{% block about %}
<section class="about">
  <h1>The BEST way to keep track of job Applications</h1>
  <div class="article_1">
    <img src="/static/assets/about_1.webp" alt="person using MacBook" class="about_img_1">
    <p>Looking for a job can take longer than expected and more application than planned. It's vital to keep detailed
      records and tracking of job applications, to avoid duplication and forgetting what has been applied for. Record
      keeping may not be an exciting task, but it is an important part of the job search
      process. Using a system that works and is easy to access, update and maintain is critial. Let JOB APP Track help!
    </p>
    <button id="signup_2" class="btn">SIGN UP</button>
  </div>
  <div class="article_2">
    <div>
      <h2>Why keep track of job applications</h2>
      <p>Is record keeping necessary, especially if there is expectations to only apply for a few jobs. But the
        reality of the job market is people are applying for 10s if not 100s of positions before securing a new
        role. The reality of sending out many resumes before being invited to a job interview is quite real.
      </p>
      <p>If a recruiter or potential employer is in contact, being unprepared could result in elimination from their
        shortlist. If
        it's been a while and struggling to recall the organisation or job that was applied for, could be unprofessional
        and
        incompetent. However, if keeping track of job applications, access to the information can improve chances of
        being
        asked to interview.</p>
    </div>
    <div>
      <img src="/static/assets/about_2.webp" alt="person writing on paper" class="about_img_2">
    </div>
  </div>
</section>
{% endblock about %}