{% extends "layout.html" %}
{% block content %}
{% if session['user_id'] %}
{% include "jobs.html" %}
{% block jobs %} {% endblock jobs %}
{% include "editjob.html" %}
{% block editjob %}{% endblock editjob %}
{% include "newjob.html" %}
{% block newjob %}{% endblock newjob %}
{% else %}
{% include "about.html" %}
{% block about %} {% endblock about %}
{% include "signup.html" %}
{% block signup %}{% endblock signup %}
{% include "login.html" %}
{% block login %}{% endblock login %}
{% endif %}
{% endblock content %}