{% block jobs %}

<button id="add_new" class="add_new btn">ADD NEW</button>

<section class="job_cards">
  {% for job in jobs %}
  {% if job['user_id'] == session['user_id'] %}
  <div class="job_card">
    <p class="job_header"> {{ job['company'] }}</p>
    <div class="job_content">
      <p>Role: {{ job['role'] }}</p>
      <p>Pay: ${{ job["pay"] }}.00</p>
      <p>Link: <a href="{{ job['link'] }}" target="_blank">link</a></p>
      <p>Date Applied: {{ job['app_date'] }}</p>
      <p>Contact: {{ job['contact_name'] }}</p>
      <p>Email: {{ job['contact_details'] }}</p>
      <p>Response: {{ job['app_response'] }}</p>
      <p>Interview:</p>
      <p>&emsp;- Stage: {{ job['interview_stage'] }}</p>
      <p>&emsp;- Date: {{ job['interview_details'] }}</p>
      <p>Offer:
        {% if job['offer'] == True %}
        Yes
        {% else %}
        No
        {% endif %}
      </p>
    </div>
    <div class="buttons">
      <a href="/jobs/{{ job['id'] }}/edit" class="btn edit">EDIT</a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</section>
{% endblock jobs %}