<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/base.css" type="text/css">
  <link rel="stylesheet" href="/static/components.css" type="text/css">
  <link rel="stylesheet" href="/static/media.css" type="text/css">
  <title>Job App Track</title>
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <header>
        <a href="/"><img src="/static/assets/logo.webp" alt="JOB APP Track" class="logo"></a>
        {% if session['user_id'] %}
        <div class="user_welcome">
          <p class="welcome">Welcome {{ session['name'] }} | <a href="/logout">Logout</a></p>
        </div>
        {% else %}
        <div class="login_form">
          <form action="/login" method="post">
            <input type="email" id="email" name="email" aria-label="email" placeholder="EMAIL">
            <input type="password" id="password" name="password" aria-label="Password" placeholder="PASSWORD">
            <button type="submit">LOGIN</button>
          </form>
          {% if error %}
          <p class="alert">Incorrect email or password</p>
          {% endif %}
          <small>Don't have an account? <button id="signup_1">SIGN UP</button></small>
        </div>
        {% endif %}
      </header>
      <main>
        {% block content %} {% endblock content%}
      </main>
      <footer>
        <small>Built with 🖤 by <a href="https://www.mattgrah.am" target="_blank">mattgrah.am</a></small>
        <small>All rights reserved &copy; {{ year }} &#183; <a href="/">JOB APP Track</a></small>
      </footer>
    </div>
  </div>
  <script type="text/javascript" src="/static/script.js"></script>
</body>

</html>