{% block login %}
<div id="login_window" class="modal login_window">
  <div class="modal_container" id="login_container">
    <div class="modal_head">
      <h2>LOGIN</h2>
      <button id="login_close">&times;</button>
    </div>
    <form action="/login" method="post" class="input_forms">
      <input type="email" id="email" name="email" aria-label="email" placeholder="EMAIL" required>
      <input type="password" id="password" name="password" aria-label="Password" placeholder="PASSWORD" required>
      <button type="submit">LOGIN</button>
    </form>
    {% if error %}
    <p class="alert">Incorrect email or password</p>
    {% endif %}
    <small>Don't have an account? <button id="signup_3">SIGN UP</button></small>
  </div>
</div>
{% endblock login %}