{% block signup %}
{% if email_match_error %}
<section id="signup" class="modal signup_window show">
  {% else %}
  <div id="signup" class="modal signup_window">
    {% endif %}
    <div class="modal_container" id="signup_container">
      <div class="modal_head">
        <h2>SIGN UP</h2>
        <button id="close">&times;</button>
      </div>
      <form action="/signup" method="post" class="input_forms">
        <input type="text" id="first_name" name="first_name" aria-label="first_name" placeholder="FIRST NAME" required>
        <input type="text" id="last_name" name="last_name" aria-label="last_name" placeholder="LAST NAME" required>
        <input type="email" id="email" name="email" aria-label="email" placeholder="EMAIL" required>
        <input type="password" id="signup_password" name="password" aria-label="Password" placeholder="PASSWORD"
          required>
        <input type="password" id="confirm_password" name="confirm_password" aria-label="confirm_password"
          placeholder="CONFIRM PASSWORD" required>
        <button id="submit_signin" type="submit">SIGN UP</button>
      </form>
      <p id="message"></p>
      {% if email_match_error %}
      <p id="message" class="alert">Email address already exists</p>
      {% endif %}
      <small>Already have an account? <button id="login">LOGIN</button></small>
    </div>
  </div>
  {% endblock signup %}